:root {
    --font-primary: Raleway, Nunito, Merriweather;
    --background-color-nav: purple;
    --text-color-nav: white;
    --heading-color: #5B1A8A;
    --box-background: #fcf0fa;
    --border-color: #9370db;
    --box-text-color: #333;
    --box-shadow: 0 0 30px rgb(233, 226, 231);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: var(--font-primary);
}

nav {
    background-color: var(--background-color-nav);
    padding: 10px;
}
nav a {
    color: var(--text-color-nav);
    display: block;
    padding: 10px;
}

h1{
    color: var(--heading-color);
    padding: .5rem;
}

main{
    max-width: 640px;
}

main img {
    float: right;
    margin: 0 0 1rem 1rem;
    width: 150px;
    height: auto;
    border: 1px solid (--border-color);
    padding: 2px;
    box-shadow: 0 0 30px (--box-shadow);
}

p {
    margin: 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
    padding-top: 1rem;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 40px;
}

footer{
    margin-top: 1em;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/*Class selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1 rem;
    background-color: var(--box-background);
    color: var(--box-text-color);
}

.indent{
    padding-left: 2rem;
}